* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.list {
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 20px;
  list-style: none;
}
.item {
  text-transform: capitalize;
}
.show {
  margin-left: 20px;
}